

<ul class="blog-posts">
    
    <li>
        <span>2026-04-21</span>
        <a href="/pages/blog/firstpost.html" 
           hx-get="/pages/blog/firstpost.html" 
           hx-target="#main-content" 
           hx-swap="innerHTML transition:true">First post</a>
    </li>
    
</ul>


<div class="tag-cloud">
    
    <a href="/pages/tags/kernel.html" 
	   hx-get="/pages/tags/kernel.html" 
       hx-target="#main-content" 
       class="blog-tags">#kernel</a>
    
    <a href="/pages/tags/linux.html" 
	   hx-get="/pages/tags/linux.html" 
       hx-target="#main-content" 
       class="blog-tags">#linux</a>
    
</div>
