

<ul class="blog-posts">
    
    <li>
        <span>2026-04-21</span>
        <a href="/pages/blog/dsl_tutorial1.html" 
           hx-get="/pages/blog/dsl_tutorial1.html" 
           hx-target="#main-content" 
           hx-swap="innerHTML transition:true">Tutorial 1</a>
    </li>
    
    <li>
        <span>2026-04-21</span>
        <a href="/pages/blog/dsl_tutorial2.html" 
           hx-get="/pages/blog/dsl_tutorial2.html" 
           hx-target="#main-content" 
           hx-swap="innerHTML transition:true">Tutorial 2</a>
    </li>
    
    <li>
        <span>2026-04-21</span>
        <a href="/pages/blog/dsl_tutorial3.html" 
           hx-get="/pages/blog/dsl_tutorial3.html" 
           hx-target="#main-content" 
           hx-swap="innerHTML transition:true">Tutorial 3</a>
    </li>
    
    <li>
        <span>2026-04-21</span>
        <a href="/pages/blog/dsl_tutorial4.html" 
           hx-get="/pages/blog/dsl_tutorial4.html" 
           hx-target="#main-content" 
           hx-swap="innerHTML transition:true">Tutorial 4</a>
    </li>
    
</ul>


<div class="tag-cloud">
    
    <a href="/pages/tags/dsl.html" 
	   hx-get="/pages/tags/dsl.html" 
       hx-target="#main-content" 
       class="blog-tags">#dsl</a>
    
    <a href="/pages/tags/kernel.html" 
	   hx-get="/pages/tags/kernel.html" 
       hx-target="#main-content" 
       class="blog-tags">#kernel</a>
    
    <a href="/pages/tags/linux.html" 
	   hx-get="/pages/tags/linux.html" 
       hx-target="#main-content" 
       class="blog-tags">#linux</a>
    
</div>
