

<ul class="blog-posts">
    
    <li>
        <span>2026-06-17</span>
        <a href="/pages/blog/dsl_patchsubmission.html" 
           hx-get="/pages/blog/dsl_patchsubmission.html" 
           hx-target="#main-content" 
           hx-swap="innerHTML transition:true">Patch Submission</a>
    </li>
    
</ul>


<div class="tag-cloud">
    
    <a href="/pages/tags/dsl.html" 
	   hx-get="/pages/tags/dsl.html" 
       hx-target="#main-content" 
       class="blog-tags">#dsl</a>
    
    <a href="/pages/tags/kernel.html" 
	   hx-get="/pages/tags/kernel.html" 
       hx-target="#main-content" 
       class="blog-tags">#kernel</a>
    
    <a href="/pages/tags/linux.html" 
	   hx-get="/pages/tags/linux.html" 
       hx-target="#main-content" 
       class="blog-tags">#linux</a>
    
</div>
